<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>About</title>
</head>

<body>
    <h2>About</h2>
    <p>Robert Lewandowski; born 21 August 1988)
        is a Polish professional footballer who plays as a striker for Bundesliga club Bayern Munich and is the captain
        of the Poland national team. Recognized for his positioning, technique and finishing, Lewandowski is considered
        one of the best strikers of all time, as well as one of the most successful players in Bundesliga history.[4] He
        has scored over 500 senior career goals for club and country.
    </p>
    <p>
        After being the top scorer in the third and second tiers of Polish football with Znicz Pruszków, Lewandowski
        moved to top-flight Lech Poznań, helping the team win the 2009–10 Ekstraklasa. In 2010, he transferred to
        Borussia Dortmund, where he won honours including two consecutive Bundesliga titles and the league's top
        goalscorer award. In 2013, he also featured with Dortmund in the 2013 UEFA Champions League Final. Prior to the
        start of the 2014–15 season, Lewandowski agreed to join Dortmund's domestic rivals, Bayern Munich, on a free
        transfer. In Munich, he has won the Bundesliga title in each of his first seven seasons. Lewandowski was
        integral in Bayern's UEFA Champions League win in 2019–20 as part of a treble. He is one of only two players,
        alongside Johan Cruyff, to achieve the European treble, while being the top scorer in all three competitions.
    </p>
    <p>
        A full international for Poland since 2008, Lewandowski has earned over 120 caps and was a member of their team
        at UEFA Euro 2012, Euro 2016, the 2018 FIFA World Cup and Euro 2020. With 69 international goals, Lewandowski is
        the all-time top scorer for Poland. He won IFFHS World's Best International Goal Scorer Award in 2015 and IFFHS
        World's Best Top Goal Scorer Award in 2020. He also won the European Golden Shoe for the 2020–21 season.
        Moreover, Lewandowski has been named the Polish Player of the Year a record nine times.
    </p> <p>
        In 2020, Lewandowski won the Best FIFA Men's Player Award and the UEFA Men's Player of the Year Award. He has
        been named to the UEFA Team of the Year twice and the UEFA Champions League Squad of the Season four times, and
        is the third-highest goalscorer in the history of the competition. Lewandowski has been named the VDV Bundesliga
        Player of the Season a record five times. He has scored over 270 goals in the Bundesliga (second-highest
        goalscorer of all time in Bundesliga history,[5] behind only Gerd Müller's 365 Bundesliga goals), having reached
        the century mark quicker than any other foreign player, and is the league's all-time leading foreign goalscorer.
        Moreover, he has won the Bundesliga Top Scorer Award in six seasons, most prominently in the 2020–21 Bundesliga
        where he scored 41 goals in a single campaign, breaking Gerd Müller's previous Bundesliga record of 40 goals,
        set in 1971–72</p>
</body>

</html>